In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
os.chdir('C:\\Users\\KASTU1\\Desktop\\Analytics Path\\Data\\Kaggle\\HousePricePrediction')

In [85]:
hp=pd.read_csv('house_pricing_kaggle.csv',sep='|')
hp.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,2000,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
1,2000,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
2,2000,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
3,2000,FV,NaN,4403,Pave,NaN,IR2,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2010,New,Partial,222000
4,2000,RL,91.0,10652,Pave,NaN,IR1,NaN,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500

In [86]:
#Droping few dimensions which is imbalanced (Most the data is referring to a specific type)
hp.drop(['PoolQC','Fence','Alley','MiscFeature'],axis=1, inplace=True)

In [88]:
## Imputing missing with the intution on the dataset
hp['BsmtQual'].fillna(value='No Basement',inplace=True)
hp['BsmtCond'].fillna(value='No Basement',inplace=True)
hp['BsmtExposure'].fillna(value='No Basement',inplace=True)
hp['BsmtFinType1'].fillna(value='No Basement',inplace=True)
hp['BsmtFinType2'].fillna(value='No Basement',inplace=True)
hp['GarageType'].fillna(value='No Garage',inplace=True)
hp['GarageYrBlt'].fillna(value='9999',inplace=True)
hp['GarageFinish'].fillna(value='No Garage',inplace=True)
hp['GarageQual'].fillna(value='No Garage',inplace=True)
hp['GarageCond'].fillna(value='No Garage',inplace=True)
hp['FireplaceQu'].fillna(value='No FirePlace',inplace=True)
hp['MasVnrType'].fillna(value='None',inplace=True)
hp['MasVnrArea'].fillna(value=0,inplace=True)
hp['LotFrontage'].fillna(value=0,inplace=True)
hp=hp.dropna(how='any')

In [124]:
# Derving the columns
hp['YearBuilt']=2018-hp['YearBuilt']
hp['YearRemodAdd']=2018-hp['YearRemodAdd']

In [137]:
a=hp[['MSSubClass','SalePrice']].corr()
a.loc['MSSubClass','SalePrice']

0.04050927818359457

In [133]:
numeric=[]
for i in hp.columns:
    if(hp[i].dtype=='int64' or hp[i].dtype=='float64'):
        numeric.append(i)    
numeric

['MSSubClass',
 'LotFrontage',
 'LotArea',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageCars',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SalePrice']

In [139]:
hp.select_dtypes(include=[np.number]).dtypes

MSSubClass         int64
LotFrontage      float64
LotArea            int64
YearBuilt          int64
YearRemodAdd       int64
MasVnrArea       float64
BsmtFinSF1         int64
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
TotRmsAbvGrd       int64
GarageArea         int64
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
SalePrice          int64
dtype: object

In [138]:
hp['OverallQual']=hp['OverallQual'].astype('object')
hp['OverallCond']=hp['OverallCond'].astype('object')
hp['BsmtFullBath']=hp['BsmtFullBath'].astype('object')
hp['BsmtHalfBath']=hp['BsmtHalfBath'].astype('object')
hp['FullBath']=hp['FullBath'].astype('object')
hp['HalfBath']=hp['HalfBath'].astype('object')
hp['BedroomAbvGr']=hp['BedroomAbvGr'].astype('object')
hp['KitchenAbvGr']=hp['KitchenAbvGr'].astype('object')
hp['Fireplaces']=hp['Fireplaces'].astype('object')
hp['GarageCars']=hp['GarageCars'].astype('object')

In [92]:
z=0
for i in hp.columns:
    if(hp[i].nunique==1):
        hp.drop(i,axis=1,inplace=2)
        z+=1
print('Total # of columns which has only one record: ',z)

Total # of which has only one record:  0