In [1]:
import pandas as pd
import numpy as np

In [3]:
## Correlation and Covariance
temperature=[98,87,90,85,95,75]
numberofcustomers=[15,12,10,10,16,7]
Dummy=[2,0,6,1,4,9]

## Creating the dataframe from the above two lists
icecream = pd.DataFrame(list(zip(temperature, numberofcustomers,Dummy)), columns =['temperature', 'numberofcustomers','Dummy'])
icecream

   temperature  numberofcustomers  Dummy
0           98                 15      2
1           87                 12      0
2           90                 10      6
3           85                 10      1
4           95                 16      4
5           75                  7      9

In [5]:
icecream['numberofcustomers'].corr(icecream['temperature'])

0.9117671365080745

In [4]:
icecream.corr()

                   temperature  numberofcustomers     Dummy
temperature           1.000000           0.911767 -0.488533
numberofcustomers     0.911767           1.000000 -0.517442
Dummy                -0.488533          -0.517442  1.000000