In [1]:
import pandas as pd
import numpy as np

In [2]:
## Correlation and Covariance
temperature=[98,87,90,85,95,75]
numberofcustomers=[15,12,10,10,16,7]
gender=['M','F','T','M','M','F']
Rating=['Good','Excellent','Bad','Good','Excellent','Good']

## Creating the dataframe from the above two lists
icecream = pd.DataFrame(list(zip(temperature, numberofcustomers,gender,Rating)), columns =['temperature', 'numberofcustomers','Gender','Rating'])
icecream

   temperature  numberofcustomers Gender     Rating
0           98                 15      M       Good
1           87                 12      F  Excellent
2           90                 10      T        Bad
3           85                 10      M       Good
4           95                 16      M  Excellent
5           75                  7      F       Good

In [3]:
from sklearn.preprocessing import LabelBinarizer
# Instance Creation
LB_Gender=LabelBinarizer()

LB_Gender.fit(icecream['Gender'])

LB_Gender_Transform=LB_Gender.transform(icecream['Gender'])
gender_df=pd.DataFrame(LB_Gender_Transform,columns=['Gender_Female','Gender_Male','Gender_Transgender'])

icecream1=pd.concat([icecream,gender_df],axis=1)
icecream1

,temperature,numberofcustomers,Gender,Rating,Gender_Female,Gender_Male,Gender_Transgender
0,98,15,M,Good,0,1,0
1,87,12,F,Excellent,1,0,0
2,90,10,T,Bad,0,0,1
3,85,10,M,Good,0,1,0
4,95,16,M,Excellent,0,1,0
5,75,7,F,Good,1,0,0

In [ ]:
LB_Gender.

In [ ]:
from sklearn.preprocessing import LabelBinarizer
# Instance Creation
LB_Gender=LabelBinarizer()

LB_Gender.fit(icecream['Rating'])

LB_Gender_Transform=LB_Gender.transform(icecream['Gender'])
gender_df=pd.DataFrame(LB_Gender_Transform,columns=['Gender_Female','Gender_Male','Gender_Transgender'])

icecream1=pd.concat([icecream,gender_df],axis=1)
icecream

In [8]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
X = [['Male', 1], ['Female', 3], ['Female', 2]]
enc.fit(X)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=True)

In [9]:
enc.categories_

[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]

In [11]:
enc.transform([['Female', 1], ['Male', 4]]).toarray()

array([[1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [12]:
enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])

array([['Male', 1],
       [None, 2]], dtype=object)

In [12]:
temperature=[85,95,75]
numberofcustomers=[10,16,7]
gender=['M','M','F']
Rating=['Good','Excellent','Good','Average']

## Creating the dataframe from the above two lists
test = pd.DataFrame(list(zip(temperature, numberofcustomers,gender,Rating)), columns =['temperature', 'numberofcustomers','Gender','Rating'])
test

   temperature  numberofcustomers Gender     Rating
0           85                 10      M       Good
1           95                 16      M  Excellent
2           75                  7      F       Good

In [14]:
LB_Gender.transform(test['Gender'])

array([[0, 1, 0],
       [0, 1, 0],
       [1, 0, 0]])