In [2]:
import pandas as pd
import numpy as np

In [3]:
## Correlation and Covariance
temperature=[98,87,90,85,95,75]
numberofcustomers=[15,12,10,10,16,7]
gender=['M','F','T','M','M','F']
Rating=['Good','Excellent','Bad','Good','Excellent','Good']

## Creating the dataframe from the above two lists
icecream = pd.DataFrame(list(zip(temperature, numberofcustomers,gender,Rating)), columns =['temperature', 'numberofcustomers','Gender','Rating'])
icecream

   temperature  numberofcustomers Gender     Rating
0           98                 15      M       Good
1           87                 12      F  Excellent
2           90                 10      T        Bad
3           85                 10      M       Good
4           95                 16      M  Excellent
5           75                  7      F       Good

In [6]:
from sklearn.preprocessing import LabelEncoder
LE_Rating=LabelEncoder()

LE_Rating.fit(icecream['Rating'])

LE_Rating_Transform=LE_Rating.transform(icecream['Rating'])

icecream['Rating_Transformed']=LE_Rating_Transform
icecream

#LE_Rating_Transform

   temperature  numberofcustomers Gender     Rating  Rating_Transformed
0           98                 15      M       Good                   2
1           87                 12      F  Excellent                   1
2           90                 10      T        Bad                   0
3           85                 10      M       Good                   2
4           95                 16      M  Excellent                   1
5           75                  7      F       Good                   2