In [1]:
import pandas as pd
import numpy as np

In [2]:
## Correlation and Covariance
temperature=[98,87,90,85,95,75]
numberofcustomers=[15,12,10,10,16,7]
gender=['M','F','T','M','M','F']
Rating=['Good','Excellent','Bad','Good','Excellent','Good']

## Creating the dataframe from the above two lists
icecream = pd.DataFrame(list(zip(temperature, numberofcustomers,gender,Rating)), columns =['temperature', 'numberofcustomers','Gender','Rating'])
icecream

   temperature  numberofcustomers Gender     Rating
0           98                 15      M       Good
1           87                 12      F  Excellent
2           90                 10      T        Bad
3           85                 10      M       Good
4           95                 16      M  Excellent
5           75                  7      F       Good

In [5]:
from sklearn.preprocessing import LabelBinarizer
LB_Gender=LabelBinarizer()
LB_Gender.fit(icecream['Gender'])

LB_Gender_Transform=LB_Gender.transform(icecream['Gender'])
LB_Gender_Transform
gender_df=pd.DataFrame(LB_Gender_Transform,columns=['Female','Male','Transgender'])
gender_df

icecream1=pd.concat([icecream,gender_df],axis=1)
icecream1

   temperature  numberofcustomers Gender     Rating  Female  Male  Transgender
0           98                 15      M       Good       0     1            0
1           87                 12      F  Excellent       1     0            0
2           90                 10      T        Bad       0     0            1
3           85                 10      M       Good       0     1            0
4           95                 16      M  Excellent       0     1            0
5           75                  7      F       Good       1     0            0