In [1]:
import pandas as pd
import numpy as np

In [2]:
## Correlation and Covariance
temperature=[98,87,90,85,95,75]
numberofcustomers=[15,12,10,10,16,7]

## Creating the dataframe from the above two lists
icecream = pd.DataFrame(list(zip(temperature, numberofcustomers)), columns =['temperature', 'numberofcustomers'])
icecream

   temperature  numberofcustomers
0           98                 15
1           87                 12
2           90                 10
3           85                 10
4           95                 16
5           75                  7

In [8]:
#Number of Customers Column
from sklearn.preprocessing import MinMaxScaler #Zscore

MinMax_numberofcustomers=MinMaxScaler()

MinMax_numberofcustomers.fit(np.array(icecream['numberofcustomers']).reshape(-1,1))

MinMax_numberofcustomers_VALUES=MinMax_numberofcustomers.transform(np.array(icecream['numberofcustomers']).reshape(-1, 1))

MinMax_numberofcustomers_VALUES
icecream['MinMax_numberofcustomers']=MinMax_numberofcustomers_VALUES

icecream

   temperature  numberofcustomers  MinMax_numberofcustomers
0           98                 15                  0.888889
1           87                 12                  0.555556
2           90                 10                  0.333333
3           85                 10                  0.333333
4           95                 16                  1.000000
5           75                  7                  0.000000

In [10]:
#Number of Customers Column
from sklearn.preprocessing import MinMaxScaler #Zscore

MinMax_temperature=MinMaxScaler()

MinMax_temperature.fit(np.array(icecream['temperature']).reshape(-1, 1))

MinMax_temperature_VALUES=MinMax_temperature.transform(np.array(icecream['temperature']).reshape(-1, 1))

icecream['MinMax_temperature']=MinMax_temperature_VALUES

icecream

,temperature,numberofcustomers,MinMax_numberofcustomers,MinMax_temperature
0,98,15,0.888889,1.000000
1,87,12,0.555556,0.521739
2,90,10,0.333333,0.652174
3,85,10,0.333333,0.434783
4,95,16,1.000000,0.869565
5,75,7,0.000000,0.000000

In [10]:
np.array(icecream['temperature']).reshape(-1, 1)

array([[98],
       [87],
       [90],
       [85],
       [95],
       [75]], dtype=int64)