In [2]:
import pandas as pd
import numpy as np

In [3]:
## Correlation and Covariance
temperature=[98,87,90,85,95,75]
numberofcustomers=[15,12,10,10,16,7]
gender=['M','F','T','M','M','F']
Rating=['Good','Excellent','Bad','Good','Excellent','Good']

## Creating the dataframe from the above two lists
icecream = pd.DataFrame(list(zip(temperature, numberofcustomers,gender,Rating)), columns =['temperature', 'numberofcustomers','Gender','Rating'])
icecream

   temperature  numberofcustomers Gender     Rating
0           98                 15      M       Good
1           87                 12      F  Excellent
2           90                 10      T        Bad
3           85                 10      M       Good
4           95                 16      M  Excellent
5           75                  7      F       Good

In [4]:
#Number of Customers Column
from sklearn.preprocessing import StandardScaler #Zscore

zscore_numberofcustomers=StandardScaler()

zscore_numberofcustomers.fit(np.array(icecream['numberofcustomers']).reshape(-1, 1))

zscore_numberofcustomers_VALUES=zscore_numberofcustomers.transform(np.array(icecream['numberofcustomers']).reshape(-1, 1))

icecream['zscore_numberofcustomers']=zscore_numberofcustomers_VALUES

icecream

   temperature  numberofcustomers Gender     Rating  zscore_numberofcustomers
0           98                 15      M       Good                  1.078328
1           87                 12      F  Excellent                  0.107833
2           90                 10      T        Bad                 -0.539164
3           85                 10      M       Good                 -0.539164
4           95                 16      M  Excellent                  1.401826
5           75                  7      F       Good                 -1.509659

In [5]:
#Number of Customers Column
from sklearn.preprocessing import StandardScaler #Zscore

zscore_temperatures=StandardScaler()

zscore_temperatures.fit(np.array(icecream['temperature']).reshape(-1, 1))

zscore_temperature_VALUES=zscore_temperatures.transform(np.array(icecream['temperature']).reshape(-1, 1))

icecream['zscore_temperatues']=zscore_temperature_VALUES

icecream

,temperature,numberofcustomers,Gender,Rating,zscore_numberofcustomers,zscore_temperatues
0,98,15,M,Good,1.078328,1.300828
1,87,12,F,Excellent,0.107833,-0.179425
2,90,10,T,Bad,-0.539164,0.224281
3,85,10,M,Good,-0.539164,-0.448561
4,95,16,M,Excellent,1.401826,0.897123
5,75,7,F,Good,-1.509659,-1.794245

In [23]:

zscore_temperature=StandardScaler()

zscore_temperature.fit(np.array(icecream['temperature']).reshape(-1, 1))

zscore_temperature_VALUES=zscore_temperature.transform(np.array(icecream['temperature']).reshape(-1, 1))

icecream['zscore_temperature']=zscore_temperature_VALUES

C:\Users\prudi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\prudi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [4]:
icecream

   temperature  numberofcustomers Gender     Rating
0           98                 15      M       Good
1           87                 12      F  Excellent
2           90                 10      T        Bad
3           85                 10      M       Good
4           95                 16      M  Excellent
5           75                  7      F       Good

In [8]:
from sklearn.preprocessing import StandardScaler #Zscore

zscore_temperatures=StandardScaler()
zscore_temperatures.fit(np.array(icecream['temperature']).reshape(-1, 1))
x=zscore_temperatures.transform(np.array(icecream['temperature']).reshape(-1, 1))
x

array([[ 1.30082778],
       [-0.17942452],
       [ 0.22428065],
       [-0.4485613 ],
       [ 0.89712261],
       [-1.79424522]])

In [11]:
from sklearn.preprocessing import StandardScaler #Zscore

zscore_temperatures=StandardScaler()
y=zscore_temperatures.fit_transform(np.array(icecream['temperature']).reshape(-1, 1))
y

array([[ 1.30082778],
       [-0.17942452],
       [ 0.22428065],
       [-0.4485613 ],
       [ 0.89712261],
       [-1.79424522]])