In [1]:
import sys
print(sys.version)

3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

#### As Calculator

In [2]:
6+4

10

In [3]:
6-4

2

In [4]:
20/4 ##Returns a division

5.0

In [5]:
(3+5)/3

2.6666666666666665

In [6]:
21//5

4

In [7]:
21%5

1

In [16]:
2**4

16

In [17]:
_+1

17

####  Determine the data type

In [9]:
type(4)

int

In [10]:
type('hello')

str

In [12]:
type(4.6)

float

In [14]:
type(1)

int

In [ ]:
## Strings

In [24]:
text1='hello how are you divya and how are you doing'

In [21]:
text1.capitalize()

'Hello how are you divya'

In [25]:
text1.count('how',0,len(text1))

2

In [26]:
text1.find('how',0,len(text1))

6

In [32]:
x=input('Enter a value')
x=int(x)

Enter a value12

In [33]:
## Count Digits in a number:

In [36]:
x=123434343
len(str(x))

9

In [44]:
y=str(x)
str(x).count('3',0,len(str(x)))
#y.count('3',0,len(y))

4

In [ ]:
#The Fibonacci sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21

In [67]:
# Program to display the Fibonacci sequence up to n-th term where n is provided by the user

# change this value for a different result
nterms = 10

# uncomment to take input from the user
#nterms = int(input("How many terms? "))

# first two terms
n1 = 0
n2 = 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence upto",nterms,":")
   while count < nterms:
       print(n1,end=' , ')
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence upto 10 :
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 ,

In [83]:
### Factorial
number=int(input('Enter the number which you want to calculate factorial'))
n1=1
if (number<0):
    print('please enter a number greater than 0')
elif (number==0):
    print('Factorica is 1')
else:
    for i in range(1,number+1):
        j=i*n1
        n1=j
    print('Factorical is ',n1)

Enter the number which you want to calculate factorial6
Factorical is  720

In [143]:
## Prime Number
x=2
y=10
for i in range(x,y):
    for j in range(x,i):
        if(i%j==0):
            #print(i, 'is not a prime number')
            break
    else:
        print(i,'number is a prime number')

2 number is a prime number
3 number is a prime number
5 number is a prime number
7 number is a prime number

In [150]:
## Generate first 10 even numbers
for i in range(1,11):
    if(i%2==0):
        print(i)

2
4
6
8
10

In [164]:
## Input a number and check if number is prime or not
number=int(input('Enter a number '))
if number >1:
    for i in (2,number+1):
        if(number%i==0):
            print(number,'number is not a prime number')
            break
    else:
        print(number,'Number is a prime number')
else:
    print('please enter number greater than 1')
##

Enter a number 1
please enter number greater than 1

In [171]:
## Print largest and smallest number from a given set of numbers
a=[-1,2,3,4,5,6,7,8,8,9,99,9,9]
i=0
k=10
for i in a:
    if i>=j:
        j=i
    if i<=k:
        k=i
        
print(j,k)

99 -1

In [177]:
a=[-1,2,3,4,5,6,7,8,8,9,99,9,9]


print('Sum of all number is',sum(a))
print('Average of all number is',sum(a)/len(a))

Sum of all number is 168
Average of all number is 12.923076923076923

In [181]:
a=int(5.3)
print(a)
a=int(5)
print(a)
a=int("5")
print(a)
a=int('0x41',16) 
print(a)
a=int('0100',2)    
print(a)

5
5
5
65
4

In [183]:
b=float(5)
print(b)
b=float(5.5)
print(b)
b=float('5.6')
print(b)

5.0
5.5
5.6

In [188]:
print(chr(65))
print(ord('A'))
print(abs(-65))

A
65
65

In [194]:
q,r=divmod(5,3)
print(q,r)

1 2