In [1]:
import sys
print(sys.version)

3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

#### As Calculator

In [2]:
6+4

10

In [3]:
6-4

2

In [4]:
20/4 ##Returns a division

5.0

In [5]:
(3+5)/3

2.6666666666666665

In [6]:
21//5

4

In [7]:
21%5

1

In [16]:
2**4

16

In [17]:
_+1

17

####  Determine the data type

In [9]:
type(4)

int

In [10]:
type('hello')

str

In [12]:
type(4.6)

float

In [14]:
type(1)

int

In [ ]:
## Strings

In [3]:
text1='hello how are you divya and HOW are you doing'

In [5]:
text1.capitalize()

'Hello how are you divya and how are you doing'

In [4]:
text1.lower()

'hello how are you divya and how are you doing'

In [25]:
text1.count('how',0,len(text1))

2

In [26]:
text1.find('how',0,len(text1))

6

In [32]:
x=input('Enter a value')
x=int(x)

Enter a value12

In [33]:
## Count Digits in a number:

In [36]:
x=123434343
len(str(x))

9

In [44]:
y=str(x)
str(x).count('3',0,len(str(x)))
#y.count('3',0,len(y))

4

In [ ]:
#The Fibonacci sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21

In [67]:
# Program to display the Fibonacci sequence up to n-th term where n is provided by the user

# change this value for a different result
nterms = 10

# uncomment to take input from the user
#nterms = int(input("How many terms? "))

# first two terms
n1 = 0
n2 = 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence upto",nterms,":")
   while count < nterms:
       print(n1,end=' , ')
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence upto 10 :
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 ,

In [83]:
### Factorial
number=int(input('Enter the number which you want to calculate factorial'))
n1=1
if (number<0):
    print('please enter a number greater than 0')
elif (number==0):
    print('Factorica is 1')
else:
    for i in range(1,number+1):
        j=i*n1
        n1=j
    print('Factorical is ',n1)

Enter the number which you want to calculate factorial6
Factorical is  720

In [143]:
## Prime Number
x=2
y=10
for i in range(x,y):
    for j in range(x,i):
        if(i%j==0):
            #print(i, 'is not a prime number')
            break
    else:
        print(i,'number is a prime number')

2 number is a prime number
3 number is a prime number
5 number is a prime number
7 number is a prime number

In [150]:
## Generate first 10 even numbers
for i in range(1,11):
    if(i%2==0):
        print(i)

2
4
6
8
10

In [164]:
## Input a number and check if number is prime or not
number=int(input('Enter a number '))
if number >1:
    for i in (2,number+1):
        if(number%i==0):
            print(number,'number is not a prime number')
            break
    else:
        print(number,'Number is a prime number')
else:
    print('please enter number greater than 1')
##

Enter a number 1
please enter number greater than 1

In [171]:
## Print largest and smallest number from a given set of numbers
a=[-1,2,3,4,5,6,7,8,8,9,99,9,9]
i=0
k=10
for i in a:
    if i>=j:
        j=i
    if i<=k:
        k=i
        
print(j,k)

99 -1

In [177]:
a=[-1,2,3,4,5,6,7,8,8,9,99,9,9]


print('Sum of all number is',sum(a))
print('Average of all number is',sum(a)/len(a))

Sum of all number is 168
Average of all number is 12.923076923076923

In [181]:
a=int(5.3)
print(a)
a=int(5)
print(a)
a=int("5")
print(a)
a=int('0x41',16) 
print(a)
a=int('0100',2)    
print(a)

5
5
5
65
4

In [183]:
b=float(5)
print(b)
b=float(5.5)
print(b)
b=float('5.6')
print(b)

5.0
5.5
5.6

In [188]:
print(chr(65))
print(ord('A'))
print(abs(-65))

A
65
65

In [11]:
q,r=divmod(5,3)
print(q,r)

1 2

In [ ]:
### Session 2

In [10]:
a,b,c=10,5.3,20

In [20]:
print(round(44.33732,-2))
print(round(44.33732,0))
print(round(44.33732))

0.0
44.0
44

In [21]:
if 'e' in 'hello':
    print('found')

found

In [22]:
for ch in 'hello':
    print(ch)

h
e
l
l
o

In [23]:
len('hello ')

6

In [ ]:
## STRING Methods

In [33]:
s=' hello prudiv '
print(s.count('l'))
print(s.capitalize())
print(s.count('l',3,len(s)))
print(s.lstrip())
print(s.rstrip())
print(s.strip())

2
 hello prudiv
2
hello prudiv
 hello prudiv
hello prudiv

In [44]:
print(s.startswith(' he'))
print(s.endswith(' '))
print(s.isalnum())
print(s.isalpha())
print(s.isdigit())
print(s.isupper())
print(s.islower())
s1=' '
print(s1.isspace())

True
True
False
False
False
False
True
True

In [48]:
s='Hello Prudiv'
print(len(s))
print(s[1])
print(s[1:4])

12
e
ell

In [51]:
#a[start,end,stride]
b=s[2:5:2]
b

'lo'

In [59]:
s[-4:-1]

'udi'

In [60]:
s[-1:0:-1]

'vidurP olle'

In [61]:
b=s[::]
print(b)
b=s[::-1]
print(b)

Hello Prudiv
vidurP olleH

In [66]:
a=20,10,30,40
#type(a)
a[0]

20

In [67]:
a=(10,20,30,40)
b=(15,16)
c=a+b
print(c)

(10, 20, 30, 40, 15, 16)

In [72]:
a={10,20,30,40,40 }
b={20,50,60 }
c=set()
print(a)

{40, 10, 20, 30}

In [73]:
a={ 10,20,30,40 }
b={ 20,50,60 }

c=a-b             # What is in a but not in b
c=a&b   # What is in a and b , Intersection
c=a|b            # What is in a or b , Union
c=a^b            # What is only in a or only in b, but not in both, exclusive or

In [76]:
a=[ 10, 20, 'John' ]
a[0] # gives us 10
a[2] # gives us “John”
a[1]=30
print(a)

[10, 30, 'John']

In [79]:
A=[]# Creates an empty list
A=[10,'Alpha', 5.3 ,20 ]# Creates a list with mixed type elements
A=[10,20,[2,3],30]# Element at index 2 is a list ( nesting )
A[1]# Gives 20
A[2][1]# Gives 3
len(A)# Gives 4 ( nested list is one element )
B=A*3# Replicates A 3 times
A[2:4]# Slicing
B

[10, 20, [2, 3], 30, 10, 20, [2, 3], 30, 10, 20, [2, 3], 30]

In [83]:
A.append(24)	# Adds 24 as last element of A
A.extend( [1,5,9] )	# Appends a list at end of A
A.insert(2,'Hello')	# “Hello” inserted as index 2, shifting the elements
A.count(20)		# counts occurrence of literal 20 in List
A.remove(1)	# removes first occurrence of literal from the list
x=A.pop(2)		# removes and returns element at index 2
x

'Hello'

In [ ]:
A.sort()		# Sorts the list
A.reverse()		# Reverses the list
del A[x]		# deletes the index location and shifts elements up
del A[x:y]		# deletes a slice from the List and shifts accordingly
A[x:y]=[1,100,2]	# replaces a slice, adjusting indexes automatically

In [96]:
s='Hello'
print(s)
a=list(s)
print(a)
a[4]='p'
print(a)
b1=''.join(a)
print(b)
b='-'.join(a)
print(b)
c=b1.split(' ')
print(c)

Hello
['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'p']
H-e-l-l-p
H-e-l-l-p
['Hellp']

In [119]:
a='A CAT RAN'
a[::]

'A CAT RAN'

In [122]:
b=a.split(' ')
b.reverse()
b=' '.join(b)
print(b)

RAN CAT A

In [123]:
sent="The minimum IELTS score requirement to apply for a The Canadian Express Entry program is at least 6 band in each module. You also need to make sure that you get at least 67 points in the base criteria and you meet the cut-off in the comprehensive ranking system."

In [145]:
sent_list=sent.split(' ')
sent_list.sort()

In [170]:
dict={}
for i in sent_list:
    sent_list.count(i)
    if sent_list.count(i)>1:
        dict[i]=sent_list.count(i)

In [171]:
sorted(dict.items())

[('at', 2), ('in', 3), ('least', 2), ('the', 3), ('to', 2), ('you', 2)]

In [ ]:
## Session 3

In [ ]:
#Dictionaires

In [160]:
D= {'Amit':45 , 'Rahul': 80, 'Vivek': 78  , 'Divya': 67 }
D['Rahul']
D.pop('Rahul')
D.pop('Divya',0)

67

In [162]:
D.get('Vivek1',12)

12

In [163]:
D.setdefault('Dinesh',5)

5

In [164]:
D

{'Amit': 45, 'Vivek': 78, 'Dinesh': 5}

In [165]:
{x:x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [166]:
D.keys()

dict_keys(['Amit', 'Vivek', 'Dinesh'])

In [167]:
D.values()

dict_values([45, 78, 5])

In [168]:
list(D.keys())

['Amit', 'Vivek', 'Dinesh']

In [169]:
for k,v in D.items():
    print(k, v)

Amit 45
Vivek 78
Dinesh 5

In [174]:
L=[ 'Joseph', { 'eng':89, 'math':76, 'physics':80 }, 'Delhi' ]
print(L[0])
print(L[1])
print(L[2])
print(L[1]['math'])

Joseph
{'eng': 89, 'math': 76, 'physics': 80}
Delhi
76

In [177]:
def globalfunction():
    global a,b
    a=10
    b=20
    print(a)
    print(b)

In [178]:
globalfunction()

10
20

In [179]:
print(a)

10

In [7]:
##Zip
L1=[1,2,3]
L2=[4,5,6]
L3=[7,8]
zip_1=zip(L1,L2,L3)
for i in zip_1:
    print(i)

(1, 4, 7)
(2, 5, 8)

In [11]:
for i,j in zip(L1,L2):
    print(i,j)

1 4
2 5
3 6

In [9]:
a=zip(L1,L2,L3)
a

In [19]:
##map()
def sum1(a,b):
    return a+b

In [21]:
L1=[1,2,3]
L2=[5,6]  
L=[x for x in map(sum1,L1,L2) ]
print(L)

[6, 8]

In [22]:
## Filter
def even(a):
    if a%2==0: return True
    else: return False
L1=[1,2,3,8,6,11,7]
L=[ x for x in filter( even, L1) ]     # even is the function name
print( L )    # selects even values from a list

[2, 8, 6]

In [23]:
## lambda
square=lambda x : x * x
cube=lambda x : x * x * x

print( square(5) )     # prints 25
print( cube(3) )        # prints 27

25
27

In [24]:
L1=[1,2,3]
L2=[5,6,7]  
L=[ x for x in map( lambda a,b : a+b, L1 , L2 ) ]
print( L )

[6, 8, 10]

In [35]:
L1=[1,2,3,8,6,11,7]
L=[x for x in filter(lambda a:a%2==0,L1)]
L

[2, 8, 6]

In [33]:
L1=[1,2,3]
L2=[5,6,7]  
z=lambda a,b:a+b
z(5,3)

8

In [180]:
import tensorflow as tf

C:\Users\Administrator\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [183]:
import tensorflow
from tensorflow import keras