In [96]:
import os
import pandas as pd
import numpy as np

os.chdir('C:\\Users\\Prudhvi\\Desktop\\Prudhvi\\Data Science\\Data\\Capstone Project\\Capstone Project')
train=pd.read_csv('train Data.csv')
print(train.shape)
train.head(1)

C:\Users\Prudhvi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (329,331,333,336,338,344,345,346,348,354,355,356,357,358,361,362,364,367,372,377,380,383,385,387,390,392,399,400,406,408,409,413,416,418,419,431,433,437,438,442,448,449,450,453,457,464,473,478,479,481,483,485,486,489,492,495,496,497,498,499,500,503,507,508,510,511,514,515,517,519,520,521,522,523,524,526,527,530,534,537,538,539,541,544,547,548,549,550,551,557,558,560,564,569,572,573,576,577,579,583,596,597,598,600,601,602,604,605,606,608,609,613,619,620,625,627,628,629,631,632,633,636,641,642,643,645,646,647,648,651,655,661,662,665,668,675,676,679,682,685,687,689,690,691,694,698,701,702,703,706,711,712,713,719,720,721,733,735,737,738,742,746,747,748,749,752,754,755,760,764,768,770,781,782,789,797,807,812,814,817,818,822,823,824,825,832,840,843,844,845,850,853,857,858,861,867,868,873,874,876,877,879,880,881,883,886,890,893,897,899,900,901,902,904,905,908,909,910,912,913,914,915,916,922,923,931,933,935,937,939,942,943,946,951,955,960,964,965,968,969,970,973,974,977,980,987,994,995,996,999,1000,1008,1014,1015,1016,1017,1020,1021,1023,1028,1031,1035,1036,1037,1039,1040,1043,1048,1051,1055,1058,1059,1072,1073,1074,1081,1090,1097,1098,1103,1104,1109,1112,1113,1114,1118,1120,1130,1134,1135,1139,1140,1147,1148,1149,1152,1154,1157,1158,1162,1163,1164,1166,1169,1174,1177,1180,1181,1182,1183,1185,1188,1189,1195,1197,1198,1200,1203,1208,1210,1212,1215,1217,1220,1222,1225,1229,1230,1233,1234,1241,1243,1246,1250,1251,1252,1254,1259,1262,1263,1265,1266,1269,1270,1273,1274,1276,1277,1279,1280,1282,1284,1285,1286,1289,1291,1292,1293,1294,1295,1301,1302,1304,1305,1306,1308,1309,1311,1313,1316,1318,1320,1322,1323,1325,1330,1335,1337,1340,1341,1343,1345,1350,1351,1352,1354,1357,1358,1359,1360,1361,1368,1369,1372,1377) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(14644, 1379)

,id,release,n_0000,n_0001,n_0002,n_0003,n_0004,n_0005,n_0006,n_0007,...,c_1368,c_1369,c_1370,c_1371,c_1372,c_1373,c_1374,c_1375,c_1376,c_1377
0,11193,a,NaN,NaN,0.025449,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,q,NaN,NaN,NaN

In [97]:
## Replacing all the numeric columns with -999, ordinal data with 999 and categorical data with 'unknown'
train_numeric=train.filter(like='n')  
train_numeric_list=train_numeric.columns
for i in train_numeric_list:
    train[i].fillna(-999,inplace=True)
print("Numeric Columns Null value Repalcement is done")

train_categorical=train.filter(like='c')  
train_categorical_list=train_categorical.columns
for i in train_categorical_list:
    train[i].fillna('Unknown',inplace=True)
print("Categorical Columns Null value Repalcement is done")
    
train_ordinal=train.filter(like='o')  
train_ordinal_list=train_ordinal.columns
for i in train_ordinal_list:
    train[i].fillna(-9,inplace=True)
print("Ordinal Columns Null value Repalcement is done")
    
for i in train.columns:
    if train[i].isnull().sum() > 0:
        print(i,train[i].isnull().sum())
print("There are no null values present in the dataset")

Numeric Columns Null value Repalcement is done
Categorical Columns Null value Repalcement is done
Ordinal Columns Null value Repalcement is done
There are no null values present in the dataset

In [103]:
train_categorical_list=train_categorical.columns
print(train_categorical_list)
train_categorical_list.all

Index(['c_0327', 'c_0328', 'c_0329', 'c_0330', 'c_0331', 'c_0332', 'c_0333',
       'c_0334', 'c_0335', 'c_0336',
       ...
       'c_1368', 'c_1369', 'c_1370', 'c_1371', 'c_1372', 'c_1373', 'c_1374',
       'c_1375', 'c_1376', 'c_1377'],
      dtype='object', length=1050)

<bound method Index._add_logical_methods.<locals>._make_logical_function.<locals>.logical_func of Index(['c_0327', 'c_0328', 'c_0329', 'c_0330', 'c_0331', 'c_0332', 'c_0333',
       'c_0334', 'c_0335', 'c_0336',
       ...
       'c_1368', 'c_1369', 'c_1370', 'c_1371', 'c_1372', 'c_1373', 'c_1374',
       'c_1375', 'c_1376', 'c_1377'],
      dtype='object', length=1050)>

In [117]:
from sklearn.preprocessing import LabelEncoder
lc = LabelEncoder()
train_categorical=train.filter(like='c')  
train_categorical_list=train_categorical.columns
for i in train_categorical_list:
        train[i] = lc.fit_transform(train[i])