In [3]:
token[0:10]

['This',
 'is',
 'a',
 'machine',
 'learning',
 'course',
 ',',
 'we',
 'teach',
 'data']

In [4]:
sent_tokens = nltk.sent_tokenize(text)

In [6]:
sent_tokens[0]

'This is a machine learning course, we teach data science.'

In [7]:
for k in bigrams:
    print k

('This', 'is')
('is', 'a')
('a', 'machine')
('machine', 'learning')
('learning', 'course')
('course', ',')
(',', 'we')
('we', 'teach')
('teach', 'data')
('data', 'science')
('science', '.')
('.', 'We')
('We', 'use')
('use', 'R')
('R', 'and')
('and', 'Python')

In [15]:
for token in token: 
    print token

This
is
a
machine
learning
course
,
we
teach
data
science

In [8]:
for k in trigrams:
    print k

('This', 'is', 'a')
('is', 'a', 'machine')
('a', 'machine', 'learning')
('machine', 'learning', 'course')
('learning', 'course', ',')
('course', ',', 'we')
(',', 'we', 'teach')
('we', 'teach', 'data')
('teach', 'data', 'science')
('data', 'science', '.')
('science', '.', 'We')
('.', 'We', 'use')
('We', 'use', 'R')
('use', 'R', 'and')
('R', 'and', 'Python')

In [4]:
for grams in bigrams:
    print grams

('This', 'is')
('is', 'a')
('a', 'machine')
('machine', 'learning')
('learning', 'course')
('course', ',')
(',', 'we')
('we', 'teach')
('teach', 'data')
('data', 'science')
('science', '.')
('.', 'We')
('We', 'use')
('use', 'R')
('R', 'and')
('and', 'Python')

In [4]:
from nltk import sent_tokenize
sent_token=nltk.sent_tokenize(text)

In [5]:
for sent in sent_token:
    print sent

This is a machine learning course, we teach data science.
We use R and Python

In [6]:
trigrams = ngrams(token,3)

In [7]:
for grams in trigrams:
    print grams

('This', 'is', 'a')
('is', 'a', 'machine')
('a', 'machine', 'learning')
('machine', 'learning', 'course')
('learning', 'course', ',')
('course', ',', 'we')
(',', 'we', 'teach')
('we', 'teach', 'data')
('teach', 'data', 'science')
('data', 'science', '.')
('science', '.', 'We')
('.', 'We', 'use')
('We', 'use', 'R')
('use', 'R', 'and')
('R', 'and', 'Python')

In [41]:
sentences = nltk.sent_tokenize(text)

In [42]:
sentences

['This is a machine learning course, we teach data science.',
 'We use R and Python']

In [9]:
corpus = [
...     'This is the first document.',
...     'This is the second second document.',
...     'And the third one.',
...     'Is this the first document?',
... ]

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df=1, max_df= 3)
a = vectorizer.fit_transform(corpus)

In [11]:
a.toarray()

array([[ 0.        ,  0.47006328,  0.58062167,  0.47006328,  0.        ,
         0.        ,  0.        ,  0.47006328],
       [ 0.        ,  0.27931097,  0.        ,  0.27931097,  0.        ,
         0.87518921,  0.        ,  0.27931097],
       [ 0.57735027,  0.        ,  0.        ,  0.        ,  0.57735027,
         0.        ,  0.57735027,  0.        ],
       [ 0.        ,  0.47006328,  0.58062167,  0.47006328,  0.        ,
         0.        ,  0.        ,  0.47006328]])