In [49]:
import os
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [50]:
%pwd
os.chdir('C:\\Users\\Prudhvi\\Desktop\\Prudhvi\\Data Science\\Data')
%pwd

'C:\\Users\\Prudhvi\\Desktop\\Prudhvi\\Data Science\\Data'

In [104]:
churn=pd.read_csv("Teleco_Cust_Attr.csv")

In [105]:
## Deleting the non significant columns
churn.drop(["customerID"],axis=1)

## Preprocessing
churn.loc[churn.OnlineSecurity=="No internet service","OnlineSecurity"]="No"
churn.loc[churn.OnlineBackup=="No internet service","OnlineBackup"]="No"
churn.loc[churn.DeviceProtection=="No internet service","DeviceProtection"]="No"
churn.loc[churn.TechSupport=="No internet service","TechSupport"]="No"
churn.loc[churn.StreamingTV=="No internet service","StreamingTV"]="No"
churn.loc[churn.StreamingMovies=="No internet service","StreamingMovies"]="No"
churn.loc[churn.MultipleLines=="No internet service","MultipleLines"]="No"

## Data Type Conversion
churn["SeniorCitizen"]=churn["SeniorCitizen"].astype(object)

cat_vars=['Contract','gender',"Partner","Dependents","PhoneService","MultipleLines","InternetService","OnlineSecurity","PaperlessBilling","PaymentMethod","SeniorCitizen","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(churn[var], prefix=var)
    data1=churn.join(cat_list)
    churn=data1
    
cat_vars=['customerID','Contract','gender',"Partner","Dependents","PhoneService","MultipleLines","InternetService","OnlineSecurity","PaperlessBilling","PaymentMethod","SeniorCitizen","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]
data_vars=churn.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]

In [106]:
##Data to keep
data_final=churn[to_keep]
data_final.columns.values

array(['tenure', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'gender_Female', 'gender_Male', 'Partner_No',
       'Partner_Yes', 'Dependents_No', 'Dependents_Yes',
       'PhoneService_No', 'PhoneService_Yes', 'MultipleLines_No',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_No', 'OnlineSecurity_Yes',
       'PaperlessBilling_No', 'PaperlessBilling_Yes',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'SeniorCitizen_0', 'SeniorCitizen_1', 'OnlineBackup_No',
       'OnlineBackup_Yes', 'DeviceProtection_No', 'DeviceProtection_Yes',
       'TechSupport_No', 'TechSupport_Yes', 'StreamingTV_No',
       'StreamingTV_Yes', 'StreamingMovies_No', 'StreamingMovies_Yes'],
      dtype=object)

In [107]:
data_final=churn[to_keep]
data_final.columns.values

array(['tenure', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'gender_Female', 'gender_Male', 'Partner_No',
       'Partner_Yes', 'Dependents_No', 'Dependents_Yes',
       'PhoneService_No', 'PhoneService_Yes', 'MultipleLines_No',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_No', 'OnlineSecurity_Yes',
       'PaperlessBilling_No', 'PaperlessBilling_Yes',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'SeniorCitizen_0', 'SeniorCitizen_1', 'OnlineBackup_No',
       'OnlineBackup_Yes', 'DeviceProtection_No', 'DeviceProtection_Yes',
       'TechSupport_No', 'TechSupport_Yes', 'StreamingTV_No',
       'StreamingTV_Yes', 'StreamingMovies_No', 'StreamingMovies_Yes'],
      dtype=object)

In [112]:
data_final_vars=data_final.columns.values.tolist()
y=['Churn']
X=[i for i in data_final_vars if i not in y]
print(X)

['tenure', 'MonthlyCharges', 'TotalCharges', 'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year', 'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes', 'Dependents_No', 'Dependents_Yes', 'PhoneService_No', 'PhoneService_Yes', 'MultipleLines_No', 'MultipleLines_No phone service', 'MultipleLines_Yes', 'InternetService_DSL', 'InternetService_Fiber optic', 'InternetService_No', 'OnlineSecurity_No', 'OnlineSecurity_Yes', 'PaperlessBilling_No', 'PaperlessBilling_Yes', 'PaymentMethod_Bank transfer (automatic)', 'PaymentMethod_Credit card (automatic)', 'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check', 'SeniorCitizen_0', 'SeniorCitizen_1', 'OnlineBackup_No', 'OnlineBackup_Yes', 'DeviceProtection_No', 'DeviceProtection_Yes', 'TechSupport_No', 'TechSupport_Yes', 'StreamingTV_No', 'StreamingTV_Yes', 'StreamingMovies_No', 'StreamingMovies_Yes']

In [113]:
X=data_final[X]
y=data_final[y]

In [115]:
X.head(3)

,tenure,MonthlyCharges,TotalCharges,Contract_Month-to-month,Contract_One year,Contract_Two year,gender_Female,gender_Male,Partner_No,Partner_Yes,...,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,1,29.85,29.85,1,0,0,1,0,0,1,...,0,1,1,0,1,0,1,0,1,0
1,34,56.95,1889.5,0,1,0,0,1,1,0,...,1,0,0,1,1,0,1,0,1,0
2,2,53.85,108.15,1,0,0,0,1,1,0,...,0,1,1,0,1,0,1,0,1,0

In [116]:
y.head(3)

  Churn
0    No
1    No
2   Yes

In [117]:
np.asarray(X)

array([[1, 29.85, '29.85', ..., 0, 1, 0],
       [34, 56.95, '1889.5', ..., 0, 1, 0],
       [2, 53.85, '108.15', ..., 0, 1, 0],
       ...,
       [11, 29.6, '346.45', ..., 0, 1, 0],
       [4, 74.4, '306.6', ..., 0, 1, 0],
       [66, 105.65, '6844.5', ..., 1, 0, 1]], dtype=object)

In [54]:
import statsmodels.api as sm

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [114]:
logit_model=sm.Logit(y,X)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).