https://towardsdatascience.com/the-5-feature-selection-algorithms-every-data-scientist-need-to-know-3a6b566efd2

In [1]:
import os
os.chdir('C:\\Users\\prudi\\Desktop\\Data Sets\\House Pricing Dataset\\housing-prices-dataset')

In [2]:
import pandas as pd
import numpy as np

In [68]:
data=pd.read_csv('HousePricingDataset.csv')

In [78]:
data['PoolQC'].unique()

array([nan, 'Ex', 'Fa', 'Gd'], dtype=object)

In [75]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
data.shape

(1460, 81)

In [14]:
data1=data.loc[:,['LotArea','YrSold','SalePrice']]

In [27]:
data1.iloc[:,:][-3:]

      LotArea  YrSold  SalePrice
1457     9042    2010     266500
1458     9717    2010     142125
1459     9937    2008     147500

In [38]:
def cor_selector(X, y,num_feats):
    cor_list = []
    feature_name = X.columns.tolist()
    # calculate the correlation with y for each feature
    for i in X.columns.tolist():
        cor = np.corrcoef(X[i], y)[0, 1]
        cor_list.append(cor)
    # replace NaN with 0
    cor_list = [0 if np.isnan(i) else i for i in cor_list]
    # feature name
    cor_feature = X.iloc[:,np.argsort(np.abs(cor_list))[-num_feats:]].columns.tolist()
    # feature selection? 0 for not select, 1 for select
    cor_support = [True if i in cor_feature else False for i in feature_name]
    return cor_support, cor_feature
cor_support, cor_feature = cor_selector(data1, data1['SalePrice'],2)
print(str(len(cor_feature)), 'selected features')

2 selected features

In [41]:
import sklearn
from sklearn.metrics.cluster import contingency_matrix
contingency_matrix(data['Street'],data['SaleCondition'])

array([[   0,    0,    1,    0,    5,    0],
       [ 101,    4,   11,   20, 1193,  125]])

In [42]:
pd.crosstab(data['Street'],data['SaleCondition'])

SaleCondition  Abnorml  AdjLand  Alloca  Family  Normal  Partial
Street
Grvl                 0        0       1       0       5        0
Pave               101        4      11      20    1193      125

In [81]:
Street_dict={k:i for i,k in enumerate(data['Street'].unique(),0)}
SaleCondition_dict={k:i for i,k in enumerate(data['SaleCondition'].unique(),0)}

In [82]:
Street_dict

{'Pave': 0, 'Grvl': 1}

In [85]:
data1['Street']=data['Street'].map(Street_dict)
data1['SaleCondition']=data['SaleCondition'].map(SaleCondition_dict)

In [86]:
data['Street']=data['Street'].map(Street_dict)
data['SaleCondition']=data['SaleCondition'].map(SaleCondition_dict)

In [56]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [89]:
data['SaleCondition'].unique()

array([0, 1, 2, 3, 4, 5], dtype=int64)

In [98]:
chi2(np.array(data['Street']).reshape(-1, 1),np.array(data['SaleCondition']).reshape(-1, 1))

(array([19.3556854]), array([0.00164984]))

In [110]:
chi_selector = SelectKBest(chi2, k=1)
chi_selector.fit(data[['Street','SaleCondition']],np.array(data['SaleCondition']).reshape(-1, 1))
chi_support = chi_selector.get_support()
chi_support

array([False,  True])